{
  "extends": [
    "@sup3r-us3r/eslint-config/react",
    "plugin:vitest-globals/recommended"
  ],
  "rules": {
    "no-useless-constructor": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/ban-types": "off",
    "no-use-before-define": "off",
    "no-new": "off"
  },
  "env": {
    "vitest-globals/env": true
  }
}
